:root {
  --accent-color: #343383;
  --effects-color: #F2F149;
  --skills-color: #DBD7D4;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/053/907/original/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg?1668497034");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: 'Noto Serif Oriya', serif;
  position: relative;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--effects-color);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
}



/* --------------------Homepage */

.hero {
  text-align: center;
  padding: 130px 20px;

}
.hero h1 {
  font-size: 96px;
}

.hero .welcome-text {
  font-size: 52px;
}

.hero h2 {
  font-size: 30px;
  line-height: 2;
  margin-bottom: 100px;
}

.hero-link {
  color: white;
  background-color:var(--accent-color);
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 30%);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cv-link,
.work-link,
.projects-link {
  color: white;
  background-color:var(--accent-color);
  font-size: 16px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 30%);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.signature{
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  font-weight: normal;
  margin: 30px auto;
  opacity: 0.8;
}

.signature-link {
  color: #343383;
}



/* --------------------Navigation */

.container-fluid {
  padding: 10px 30px;
}

.logo {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 40px;
}

.logo:hover,
.logo:focus {
  transform: scale(1.2);
  color: var(--accent-color);
}

.nav-item {
  padding-right: 40px;
}

.nav-link {
  font-size: 18px;
}

.active {
  border-bottom: 3px solid;
}



/* --------------------Footer */

footer {
  margin-top: 10px;
}

.fa-brands,
.fa-solid {
  font-size: 30px;
  color: var(--accent-color);
}

.fa-brands:hover,
.fa-brands:focus,
.fa-solid:hover,
.fa-solid:focus {
  transform: scale(1.3);
}



/* --------------------About Me Page */

.about-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

.about h1{
  font-size: 52px;
  margin-bottom: 30px;
}

.about p{
  font-size: 16px;
}

.about-text {
  max-width: 900px;
}

.img-holder {
  text-align: center;
  margin-bottom: 50px; 
}

.profile-img {
  border-radius: 70px;
  max-width: 250px;
}



/* --------------------My Projects */

.my-projects {
  text-align: center;
  margin: 50px;
}

.my-projects-title{
  font-size: 52px;
  margin-bottom: 30px;
}

.my-projects-text{
  font-size: 16px;
}

.projects-container {
  max-width: 1000px;
  /* background-color: #BBBCD0; */
  background-color: var(--skills-color);
  border: 1px solid var(--skills-color);
  border-radius: 20px;
  padding: 20px;
  padding-top: 48px;
}

.syrup-project-img,
.weather-project-img{
  border-radius: 10px;
}

.syrup-project-img {
  height: 98%;
}

.weather-project-img:hover,
.weather-project-img:focus,
.syrup-project-img:hover,
.syrup-project-img:focus{
  transform: scale(1.1);
}

.skills-link {
  color: var(--accent-color);
}

.skills-link:hover,
.skills-link:focus{
  color: var(--effects-color);
}



/* --------------------My Skills */

.skills-container {
  text-align: center;
  max-width: 550px;
  background-color: var(--skills-color);
  border: 1px solid var(--skills-color);
  border-radius: 20px;
  margin-bottom: 80px;
  padding: 20px;
}

.skills-title{
  text-align: center;
  font-size: 52px;
  margin-bottom: 30px;
}

.skills-icon {
  max-width: 70px;
  margin: 7px;
}



/* --------------------Contact Me Page */

.contact h1{
  margin: 40px;
}

.contact-form{
  margin: 30px auto;
  max-width: 400px;
}

.form-control {
  font-size: 14px;
}

.submit-btn{
  margin: 10px;
  color: white;
  background-color: var(--accent-color);
  font-size: 16px;
  padding: 10px 20px;
  border-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 30%);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.submit-btn:hover,
.submit-btn:focus{
  color: var(--effects-color);
}

.email-input,
.name-input,
.subject-input,
.textarea-input,
.form-control-file {
  margin: 5px;
}

.email-input,
.name-input,
.subject-input {
  max-width: 320px;
}



/* --------------------Media Queries */

@media (max-width: 576px) {
  /* body {
    background-image: url("../images/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  } */

  .hero {
    padding: 180px 20px;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero p {
    font-size: 20px;
    font-weight: bold;
  }

  .hero h2 {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 100px;
  }

  .img-holder {
    margin-bottom: 50px;
  }

  .about,
  .projects {
    padding: 20px;
  }
  
  .about p,
  .projects p{
    font-size: 14px;
    text-align: justify;
  }

  .about h1,
  .projects h1,
  .skills-title {
    font-size: 40px;
  }

  .about-links {
    margin: 50px;
  }

  .cv-link,
  .hero-link,
  .work-link {
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
  }

  .projects h2{
    margin: 20px;
  }

  .projects-link{
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  /* .my-projects-text{
    display: none;
  } */

  .my-projects{
    margin: 20px;
  }

  .projects-container {
    padding: 10px;
  }

  .syrup-project,
  .weather-project {
    margin: 20px 0;
  }

  .syrup-project img {
    padding-top: 30px;
  }

  .skills {
    padding-top: 20px;
  }
  .skills-title {
    margin-top: 30px;
  }

  .weather-project-link {
    margin-bottom: 20px;
  }

  .skills-container{
    margin: 0 auto;
    max-width: 300px;
  }

  .skills img {
    max-width: 50px;
  }
  /* .skills {
    display: none;
  } */

  .contact-form {
    margin: 20px;
  }

  .signature{
    display: none;
  }
}

